<div>
  <!-- BANNER -->
  <div class="flex gap-x-5 h-[560px]">
    <div class="w-2/3 bg-red-200 rounded-xl overflow-hidden relative">
      <swiper-container
        mousewheel-force-to-axis="true"
        navigation="true"
        pagination="true"
      >
        <ng-container *ngFor="let item of covers1">
          <swiper-slide>
            <div
              [ngStyle]="{'background-image': 'url(' + item + ')'}"
              class="aspect-video bg-cover bg-center"
            >
            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
      <div class="absolute bottom-40 left-20 flex gap-x-4 z-10">
        <button
          pButton
          pRipple
          class="button bg-primary-blue"
        >
          <span class="mr-3">Get the deal</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </button>
        <button
          pButton
          pRipple
          class="button button-gray-outline"
        >
          <span class="mr-3">See other promos</span>
        </button>
      </div>
    </div>
    <div class="aspect-3/4 rounded-xl overflow-hidden" >
      <swiper-container
        mousewheel-force-to-axis="true"
        pagination="true"
      >
        <ng-container *ngFor="let item of covers1">
          <swiper-slide>
            <div class="h-full aspect-3/4 relative">
              <div
                [ngStyle]="{'background-image': 'url(' + item + ')'}"
                class="bg-cover bg-center card-blur h-full"
              >
            </div>
            <div class="absolute z-10 top-1/2 left-1/2 -translate-x-[50%] -translate-y-[50%] text-center">
              <p class="font-bold text-white text-4xl ">Best Seller</p>
              <p class="text-white mt-2 mb-5">Based sales this week</p>
              <img
                [src]="item"
                class="w-full aspect-3/4 object-cover rounded-xl border-2 border-solid border-white"
                alt=""
              >
              <p class="font-semibold text-white mt-3">Pushing Clouds</p>
              <p class="text-white mt-3 uppercase">advanture, science, comedy</p>
              <button
                pButton
                pRipple
                class="button bg-white text-neutral-800 font-bold mx-auto mt-4"
              >
                <span class="mr-3">USD 45.25</span>
              </button>
            </div>
            <!-- <img
              [src]="item"
              class="h-full w-auto object-contain"
              alt=""
            > -->

            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
      <div class="absolute bottom-40 left-20 flex gap-x-4 z-10">
        <!-- <button
          pButton
          pRipple
          class="button bg-primary-blue"
        >
          <span class="mr-3">Get the deal</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </button>
        <button
          pButton
          pRipple
          class="button button-gray-outline"
        >
          <span class="mr-3">See other promos</span>
        </button> -->
      </div>
    </div>
  </div>
  <div class="mt-5">
    <app-about-me></app-about-me>
  </div>
</div>
