<p-card>
  <div class="grid grid-cols-4 gap-3">
    <ng-container *ngFor="let item of filterKeys">
      <ng-container
        [ngTemplateOutlet]="filterTpl"]
        [ngTemplateOutletContext]="{item: item}"
      ></ng-container>
    </ng-container>
  </div>
  <div class="w-full flex gap-x-3 justify-center mt-5">
    <p-button label="Tìm kiếm"></p-button>
    <p-button label="Khôi phục" severity="danger"></p-button>
  </div>
</p-card>

<ng-template #filterTpl let-item="item">
  <ng-container *ngIf="item?.type === InputType.Input">
    <div>
      <label>{{item?.label}}</label>
      <div class="relative">
        <img [src]="item?.icon" class="w-6 absolute left-2 top-1/2 translate-y-[-50%]" alt="">
        <input type="text" class="w-full" [ngClass]="item?.icon ? 'pl-10':''" [placeholder]="item?.placeholder" pInputText/>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="item?.type === InputType.Select">
    <div>
      <label>{{item?.label}}</label>
      <!-- <div class="relative">
        <img [src]="item?.icon" class="w-6 absolute left-2 top-1/2 translate-y-[-50%]" alt="">
        <input type="text" [ngClass]="item?.icon ? 'pl-10':''" pInputText/>
      </div> -->
      <app-dropdown-ui classList="w-full"></app-dropdown-ui>
    </div>
  </ng-container>

  <ng-container *ngIf="item?.type === InputType.DatePicker">
    <div>
      <label>{{item?.label}}</label>
      <app-date-ui></app-date-ui>
    </div>
  </ng-container>
</ng-template>
