.button {
  @apply cursor-pointer border-none font-semibold flex items-center justify-center h-12 rounded-xl duration-300;
  &-primary {
    @apply bg-primary-blue text-white;
    &:hover{
      @apply bg-primary-blue/90 ring ring-offset-2 ring-purple;
    }
  }
  &-primary-outline {
    @apply bg-purple-light text-purple;
    &:hover{
      @apply bg-purple-light ring ring-offset-2 ring-purple;
    }
  }
  &-gray {
    @apply bg-gray text-primary-blue duration-300;
    &:hover{
      @apply bg-gray/60 shadow-sm shadow-gray/30
    }
  }
  &-gray-outline {
    @apply bg-white border border-solid border-gray duration-300 text-primary-blue;
    &:hover{
    }
  }
}
.swiper-button-next, .swiper-button-prev {
  @apply text-primary-blue;
}

.card{
  &-blur{
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}

.book-card{
  @apply rounded-xl overflow-hidden p-6 border border-solid border-gray;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: red !important;
}

.banner {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.center {
  @apply flex justify-center items-center
}

.title {
  @apply text-center text-neutral-500;
  &-head{
    @apply font-bold text-5xl text-purple mb-3;
  }
}

.card-glass  {
  // backdrop-filter: blur(3px) saturate(179%);
  // -webkit-backdrop-filter: blur(3px) saturate(179%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.p-menu {
  @apply p-3;
  .p-menu-list{
  }
  .p-menuitem{
    @apply  p-2 hover:bg-purple-light rounded-md flex gap-x-3 duration-300;
    .p-menuitem-text:hover, .p-menuitem-icon:hover {
      @apply bg-transparent;
    }
    .p-menuitem-text{
      @apply font-medium;
    }
    .p-menuitem-icon{
      @apply mr-2;
    }
    a:hover{
      @apply bg-purple-light w-full;
    }
  }
}



// Paginator primeNg
.p-paginator{
  @apply float-right;
  .p-paginator-pages{
    .p-paginator-page{
      @apply rounded-xl;
    }
    .p-highlight{
      @apply bg-purple-light text-purple;
    }
  }
}

// Rating primeNg
.p-rating{
  .p-rating-star{

  }
  .p-rating-star-on{
    @apply bg-yellow-500;
  }
  .p-rating-cancel{

  }
  .p-rating-icon-active{
    @apply text-orange;
  }
}

// Button primeNg
.p-button{
  @apply font-medium bg-purple ring-purple focus:shadow-none duration-300 rounded-xl text-white #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-purple;
  }
}

.p-button-secondary{
  @apply bg-brown ring-brown focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-brown;
  }
}

.p-button-warning{
  @apply bg-orange ring-orange focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-orange;
  }
}

.p-button-success{
  @apply bg-green ring-green focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-green;
  }
}

.p-button-info{
  @apply bg-info ring-info focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-info;
  }
}

.p-button-help{
  @apply bg-help ring-help focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-help;
  }
}

.p-button-danger{
  @apply bg-danger ring-danger focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-danger;
  }
}
