// Menu
.p-menu {
  @apply p-3;
  .p-menu-list{
  }
  .p-menuitem{
    @apply  p-2 hover:bg-purple-light rounded-md flex gap-x-3 duration-300;
    .p-menuitem-text:hover, .p-menuitem-icon:hover {
      @apply bg-transparent;
    }
    .p-menuitem-text{
      @apply font-medium;
    }
    .p-menuitem-icon{
      @apply mr-2;
    }
    a:hover{
      @apply bg-purple-light w-full;
    }
  }
}



// Paginator primeNg
.p-paginator{
  .p-paginator-pages{
    .p-paginator-page{
      @apply rounded-xl;
    }
    .p-highlight{
      @apply bg-purple-light text-purple;
    }
  }
}

// Rating primeNg
.p-rating{
  .p-rating-star{

  }
  .p-rating-star-on{
    @apply bg-yellow-500;
  }
  .p-rating-cancel{

  }
  .p-rating-icon-active{
    @apply text-orange;
  }
}

// Button primeNg
.p-button{
  @apply font-medium bg-purple ring-purple focus:shadow-none text-center mx-auto center duration-300 rounded-xl text-white #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-purple;
  }
}

.p-button-secondary{
  @apply bg-brown ring-brown focus:shadow-none duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-brown;
  }
}

.p-button-warning{
  @apply bg-orange ring-orange focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-orange;
  }
}

.p-button-success{
  @apply bg-green ring-green focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-green;
  }
}

.p-button-info{
  @apply bg-info ring-info focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-info;
  }
}

.p-button-help{
  @apply bg-help ring-help focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-help;
  }
}

.p-button-danger{
  @apply bg-danger ring-danger focus:shadow-none  duration-300 #{!important};
  &:hover{
    @apply ring-2 ring-offset-1 ring-danger;
  }
}

// Card
.p-card	{
  @apply shadow-none p-3 rounded-xl;
  .p-card-title {
    @apply font-bold text-xl;
  }
}

// Input
input{
  @apply border border-solid border-purple/50 focus:border-purple rounded-xl duration-300 #{!important};
}

// Dropdown

.p-dropdown	{
  @apply  h-[38px] rounded-xl border border-solid border-purple;
  input{
    border-radius: inherit;
    border: none !important;
    outline: none !important;
  }

  .p-dropdown-panel	{
    @apply overflow-hidden p-2;
    .p-dropdown-items{
    }
    .p-dropdown-item{
      @apply py-3 px-1 rounded-lg mt-1;
      &:hover {
        @apply bg-gray;
      }
    }
    .p-highlight{
      @apply bg-purple-light text-purple font-semibold;
    }
  }
  .p-dropdown-label{
    @apply flex items-center pl-2;
  }
}

//Toast
.p-toast{
  .p-toast-message{
    @apply p-3 rounded-xl mb-4;
    .p-toast-message-content{
      .p-toast-message-icon{
        @apply mr-3;
      }
      .p-toast-summary{
        @apply font-bold mb-1;
      }
    }

  }
}

// Table
.p-table{
  .p-datatable{
    .p-datatable-wrapper{
      table .p-datatable-table{
        thead{
          display: block;
          background: red !important;
        }
        @apply bg-red-300 rounded-xl ;
        .p-datatable-thead{
          @apply py-10;
        }
      }
    }
  }
}
.custom-table {
  border-collapse: collapse;
  @apply rounded-xl overflow-hidden border border-solid border-neutral-200;
}

.custom-table th, .custom-table td {
  // text-align: center;
  @apply p-5;
}

.custom-table th {
  @apply bg-gray font-bold text-lg;
}

.custom-table tr:nth-child(even) {
  @apply bg-gray/20;
}
.custom-table tr:hover {
  @apply bg-gray/50;
}

// Tooltip
.p-tooltip{
  .p-tooltip-text{
    @apply p-2 rounded-lg bg-neutral-500 m-2;
  }
  .p-tooltip-arrow{
  }
}

// Dialog
.p-dialog {
  // background-color: #00000066;
  // padding: 20px;
  @apply outline-none border-none rounded-xl bg-white shadow-none;
  .p-dialog-header{
    @apply p-3 rounded-t-xl;
    .p-dialog-header-icons{
      @apply w-10 aspect-square bg-gray center hover:ring-1 ring-neutral-400 ring-offset-2 duration-400 rounded-xl;
    }
    .p-dialog-title{
      @apply font-semibold text-xl;
    }
  }
  .p-dialog-content{
    @apply rounded-xl p-3;
  }
}


// Calendar
.p-calendar{
  .p-datepicker{
    @apply rounded-xl;
    .p-datepicker-group-container{
      @apply rounded-xl p-2;
      .p-datepicker-group{
        // @apply rounded-xl overflow-hidden;
        .p-datepicker-header{
          @apply rounded-t-xl;
        }
      }

    }
  }
  .p-datepicker-calendar{
    @apply p-2;
    table{
      th, td{
        @apply p-5
      }
    }
  }
}