<p-card>
  <div class="flex justify-between items-center mb-3">
    <div class="font-semibold text-lg">
      <span class="mr-1">{{ headerTable }}</span>
      <span>({{ total }})</span>
    </div>
    <p-button
      *ngIf="isRefresh"
      icon="pi pi-refresh"
      pTooltip="Làm mới"
      tooltipPosition="left"
    ></p-button>
  </div>
  <p-table
    [value]="products"
    styleClass="custom-table"
    [rows]="rowsPerPageOptions[0]"
    [paginator]="paginator"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showCurrentPageReport]="showCurrentPageReport"
  >
    <ng-template pTemplate="caption">
      <!-- <div class="flex align-items-center justify-content-between">
          Products
          <p-button icon="pi pi-refresh"></p-button>
      </div> -->
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="checkbox" class="text-center">
          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
          <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
        </th>
        <ng-container *ngFor="let header of titleTable">
          <th>
            {{header?.title}}
          </th>
        </ng-container>

      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-product
    >
      <tr>
        <td *ngIf="checkbox" class="text-center">
          <!-- <p-tableCheckbox [value]="product"></p-tableCheckbox> -->
          <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
        </td>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
