<form [formGroup]="verifyForm" method="post">
    <!-- <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->
  
    <div class="container">
      <label for="uname"><b>Tên đăng nhập</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required
      formControlName="username" appNonSpace>
      <ng-container>
        <div *ngIf="verifyForm?.invalid && usernameControl?.touched" class="error-text">
          <p *ngIf="usernameControl?.hasError('required')">
            Vui lòng nhập tên đăng nhập
          </p>
        </div>
      </ng-container>

      <label for="psw"><b>Mã kích hoạt</b></label>
      <input type="text" placeholder="Nhập mã kích hoạt" name="psw" required
      formControlName="verificationCode" appNonSpace>
      <ng-container>
        <div *ngIf="verifyForm?.invalid && verificationCodeControl?.touched" class="error-text">
          <p *ngIf="verificationCodeControl?.hasError('required')">
            Vui lòng mã kích hoạt
          </p>
        </div>
      </ng-container>

      <button (click)="submit()" type="submit">Kích hoạt</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Hủy bỏ</button>
    </div>
  </form>