<div class="flex flex-col gap-y-3">
  <div class="flex justify-between items-center py-2">
    <app-page-header title="Quản lý danh mục sách"></app-page-header>
    <p-button (onClick)="create()">
      <img
        src="assets/icons/white/ic-add-outline.svg"
        class="w-6"
        alt=""
      />
      <span>Thêm mới</span>
    </p-button>
  </div>
  <app-table-ui
    headerTable="Danh sách sách"
    [titleTable]="titleTable"
    [isSearch]="true"
    [showAction]="true"
    [dataTable]="dataTable"
    [total]="total"
    (searchChange)="searchChange($event)"
    (refreshData)="refreshData()"
  >
    <ng-template
      #tableBody
      let-item="item"
    >
      <td>{{ item?.name }}</td>
    </ng-template>
    <ng-template #tableAction let-item="item">
      <ng-container>
        <p-button
          severity="secondary"
          styleClass="button-table"
          [outlined]="true"
          (onClick)="view(item)"
        >
          <img
            src="assets/icons/default/ic-eye.svg"
            alt=""
          />
        </p-button>
        <p-button
          severity="secondary"
          styleClass="button-table"
          [outlined]="true"
        >
          <img
            src="assets/icons/default/ic-edit-pencil.svg"
            alt=""
          />
        </p-button>
        <p-button
          severity="secondary"
          styleClass="button-table"
          [outlined]="true"
        >
          <img
            src="assets/icons/default/ic-trash.svg"
            alt=""
          />
        </p-button>
      </ng-container>
    </ng-template>
  </app-table-ui>
</div>
